// Styles for the Yelp Widget Pro options panel

#yelp-settings {
	.hndle {
		border-bottom: 1px solid #c3c4c7;
	}

	.metabox-holder {
		max-width: 1080px;
	}

	.yelp-widget-api-key-steps {
		margin-bottom:0;
	}

	p, ol li {
		font-size: 14px;
	}

	.yelp-widget-api-key-label {
		font-weight: 500;
		margin: 0 0 10px;
	}

	.ywp-help-text {
		font-style: italic;
		padding: 10px 0;
		margin: 0;
	}
}

#icon-yelp {
	background: url('../images/platform-icon-wpbr.png') no-repeat 0 0 transparent;
	background-size: 45px;
	float: left;
	width: 60px;
	height: 45px;

	+ h2 {
		line-height: 45px;
		margin-bottom: 6px;
		font-size: 22px;
	}
}


.control-group {
	margin-bottom: 10px;
}

.control-group:last-of-type {
	margin-bottom: 0;
}

.control-label {
	clear: left;
	width: 200px;
	display: inline-block;
	vertical-align: top;
}

.controls {
	display: inline-block;
}

.settings_page_yelp_widget #api-options input[type="text"] {
	width: 280px;
}

.settings_page_yelp_widget input.button-primary {
	clear: left;
	width: auto;
	display: block;
}

.help-block {
	color: #999;
	font-size: 85%;
	margin-top: 2px;
}

// Sidebar Sortables
#sidebar-sortables .postbox {
	min-width: auto;
}
a.wpbr-option-page-upsell {
	color: #ee4835;
	font-weight: bold;
	font-size: 15px;
	position: absolute;
	top: 30px;
	left: 400px;
	outline: none;
	box-shadow: none;
	text-decoration: underline;
}

a.wpbr-option-page-upsell svg {
	fill: #ee4835;
	height:20px;
	width:20px;
	position: relative;
	top: 3px;
	left: -4px;
}

/*----------------------------------------
Tipsy
-------------------------------------------*/

.tooltip-info {
	cursor: help;
	margin: -3px 0 0 5px;
	position: relative;
	top: 3px;
}

.tipsy {
	font-size: 10px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}

.tipsy-inner {
	background-color: #000;
	color: #FFF;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
}

/* Rounded corners */
.tipsy-inner {
	border-radius: 3px;
	font-size: 14px;
}

.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #000;
}

/* Rules to colour arrows */
.tipsy-arrow-n {
	border-bottom-color: #000;
}

.tipsy-arrow-s {
	border-top-color: #000;
}

.tipsy-arrow-e {
	border-left-color: #000;
}

.tipsy-arrow-w {
	border-right-color: #000;
}

.tipsy-n .tipsy-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}

.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

/* Metaboxes */
.js .postbox .hndle {
	cursor: default;
}

.handlediv {
	display: none;
}
